# sudo rm /etc/systemd/system/hindigamerclub-one.service
# sudo nano /etc/systemd/system/hindigamerclub-one.service
# sudo systemctl enable hindigamerclub-one.service
# sudo systemctl start hindigamerclub-one.service
# sudo systemctl status hindigamerclub-one.service
# to view logs:
# sudo journalctl -u hindigamerclub-one.service -u hindigamerclub-two.service -f -o json
[Unit]
Description=BlocksHub Web/API Daemon 1
# After=mysql.service redis.service

[Service]
ExecStart=/usr/bin/npm run start
# Required on some systems
WorkingDirectory=/home/beak/sites/hindigamerclub/www/
Restart=always
# Restart service after 0 seconds if service crashes
RestartSec=0
RemainAfterExit=yes
# Output to custom log files
# StandardOutput=file:/home/beak/sites/hindigamerclub/www/out.log
# StandardError=file:/home/beak/sites/hindigamerclub/www/err.log
SyslogIdentifier=hindigamerclub-one
# obviously we dont wanna be running this on root
User=beak
#Group=<alternate group>

# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!! CONFIG SETUP REQUIRED !!!
# MAKE SURE TO SET SECRET_ENCRYPTION_KEY AND SECRET_ENCRYPTION_IV ENVIRONMENTAL VARIABLES
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Environment=NODE_ENV=production PORT=4000

[Install]
WantedBy=multi-user.target